body {
    width: 1920px;
}

.container {
    width: 1200px;
    margin:  0 360px 0 360px;
    /* border: 1px solid black; */
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 57px;
}
.head-menu {
    display: flex;
    width: 235px;
    justify-content: space-between;
}
.head-items {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 56px;
    text-decoration: none;
    color: #292F36;
}
.head-items:hover {
    color: #5C5C5C;
}

.intro {
    background-image: url(./img/intro-img.png);
    width: 100%;
    height: 758px;
}
.intro-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 65px;
    padding-left: 52px;
    padding-top: 208px;
    margin: 0;
}
.intro-description {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    padding-left: 52px;
    padding-top: 18px;
}
.start {
    background-color: #292F36;
    color: #fff;
    padding: 26px 74px 26px 38px;
    border-radius: 18px;
    margin-left: 52px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: center;

}
.arrow-btn {
    padding-left: 10px;
}

.projects-title {
    font-family: 'DM Serif Display';
    font-size: 50px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0.02em;
    text-align: center;
}

.projects-desc {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 93px;
    margin-top: 8px;
}
.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 100px;
}
.project-footer {
    display: flex;
    justify-content: space-between;
}
.project-arrow {
    width: 70px;
    height: 70px;
    margin-top: 24px;
}
.project_title {
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 28px;
    margin-bottom: 4px;
}
.project-subtitle {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    margin: 0;
}

.counter {
    background-color: #F4F0EC;
    margin-top: 96px;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
.count {
    
    padding-right: 54px;
    padding-left: 54px;
}
.count:not(:last-child) {
    border-right: 1px solid #CDA274;
}
.count-num {
    font-family: DM Serif Display;
    font-size: 85px;
    font-weight: 400;
    line-height: 106px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #CDA274;
    margin: 0;
}
.count-desc {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #4D5053;
    margin: 0;
}

.blog-title {
    font-family: DM Serif Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0.02em;
    text-align: center;
}
.blog-subtitle {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
    width: 811px;
    margin-left: 195px;
}
.blog-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    margin-top: 52px;
}
.article-title {
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 330px;
}
.article-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.article-date {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
    margin-bottom: 134px;
}
.footer-desc {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    width: 393px;
}
.twitter {
    margin-right: 54px;
    
}
.pages {
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #292F36;
    margin: 0;
}
.pages-name {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #4D5053;
    margin: 0;
}
.contact {
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    color: #292F36;
}
.contacts {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #4D5053;
    width: 258px;
}

/* Стили для Blog */
.blog-intro {
    margin-bottom: 200px;
}
.intro-text {
    background-color: #fff;
    width: Fixed (503px);
    height: Hug (178px);
    top: 317px;
    left: 708px;
    padding: 41px 78px 41px 78px;
    border-radius: 37px 37px 0 0;
    position: absolute;
    
}
.blog-intro_title {
    font-family: DM Serif Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: center;
    color: #292F36;
    margin: 0;
}
.blog-intro_subtitle {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #4D5053;
    margin: 0;
}

.latest-post_title {
    font-family: DM Serif Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #292F36;
    margin: 0;
}
.post {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    margin-bottom: 150px;
}
.post-img {
    margin-left: 22px;
}
.post-content {
    width: 469px;
    margin-right: 56px;
}
.content_title {
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #292F36;
}
.content_text {
    font-family: 'Jost';
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #4D5053;
    margin-bottom: 41px;
}
.pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 51px;
}
.page {
    border: 1px solid #CDA274;
    width: 52px;
    height: 52px;
    color: #292F36;
    border-radius: 50%;
    font-family: 'Jost';
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 14px 15px 14px 17px;
    margin: 0;
}


/* Стили для Blog Details */

.blog-article {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}
.blog_content {
    width: 800px;
}
.article-title_max {
    font-family: DM Serif Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 62.5px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #292F36;
    margin: 0;
}
.blog-content_img {
    margin-top: 21px;
}
.date {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 48px;
}
.bread_crumbs {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #4D5053;
}
.article-text {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #4D5053;
}

.quotes {
    background-color: #F4F0EC;
    padding: 15px 227px;
    top: 1075px;
    left: 1px;
    gap: 10px;
    border-radius: 50px;
    margin-bottom: 27px;
}
.marks {
    font-family: DM Serif Display;
    font-size: 200px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: #CDA274;
    margin: 0;
}
.quote {
    position: absolute;
    top: 1970px;
    font-family: DM Serif Display;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: 31.25px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #CDA274;
    margin: 0;
}

.point {
    display: flex;
    justify-content: space-between;
}
.point-number {
    font-family: DM Serif Display;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #CDA274;
    margin: 0;
}

.blog_sideBar {
    width: 345px;
}
.sideBar-title {
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 31.25px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #292F36;
    margin: 0 0 24px 0;;
}
.tag {
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #292F36;
    padding: 9px 30px;
    background-color: #F4F0EC;
    border-radius: 10px;
    margin: 0;
}
#selected {
    color: #FFFFFF;
    background-color: #292F36;
}
.tags {
    display: flex;
    justify-content: left;
    gap: 11px;
    margin: 11px 0 11px 0;
}